<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recommendation system</title>
</head>
<body>

  <h2>
    More information about the API can be found <a href="http://127.0.0.1:8000/docs#/" target="_blank">here</a>
  </h2>  
  <h2>Couple of words about the challenge</h2>
  
  <p>
    I gave it my all, really pushed myself to do the best I could. But I'll admit, there were bits and pieces where I know I could've done better.
  </p>

  <p>
    I didn't have much experience with certain requirements, like security stuff. It was all a bit new to me, to be honest. <br>
    But I hustled through, trying to figure it out as best I could.
  </p>

  <p>
    I'm open to any feedback! I know there's always room to improve, and I'm totally up for learning from this. <br>
    Thanks for giving me the chance to dive into this challenge—I've definitely learned a bunch.
  </p>

  <p>
    I really hope that you will see the potential that I hold and that you give me a chance to help.
  </p>

  <p>
    <b>Thank you!</b> <br>
    <b>Best, Luka Racic</b>
  </p>
    
  
  <p>
    Github link for the project: <a href="https://github.com/racicLuka/recommendation_system" target="_blank">recommendation_system</a>
  </p>

</body>
</html>